@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.faq-hero-image-white {
  width: 1489px;
  position: relative;
  height: 796px;
  display: none;
  z-index: 0;
}
.faq-franchise-hero-icon {
  width: 1485px;
  position: relative;
  height: 907px;
  object-fit: cover;
  z-index: 1;
}
.faq-hero-child,
.faq-hero-item {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 386px);
  right: 0;
  height: 772px;
  display: none;
}
.faq-hero-child {
  width: 1489px;
  background-color: var(--color-gray-300);
  z-index: 2;
}
.faq-hero-item {
  width: 1038px;
  background: linear-gradient(268.43deg, #fff, rgba(255, 255, 255, 0));
  z-index: 3;
}
.heading8,
.paragraph40 {
  position: relative;
  display: inline-block;
  min-width: 300px;
}
.heading8 {
  align-self: stretch;
  line-height: 35px;
  text-transform: uppercase;
}
.paragraph40 {
  width: 100%;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-athiti);
  max-width: 800px;
}
.frame-wrapper5,
.heading-parent5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.heading-parent5 {
  align-self: stretch;
  gap: var(--gap-16xl);
  min-width: 300px;
}
.frame-wrapper5 {
  flex: 1;
}
.faq-hero-inner1 {
  width: calc(100% - 368px);
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 55.5px);
  right: 184px;
  left: 184px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  z-index: 4;
}
.heading9,
.paragraph41 {
  position: relative;
  display: inline-block;
  min-width: 300px;
}
.heading9 {
  align-self: stretch;
  line-height: 40px;
  text-transform: capitalize;
}
.paragraph41 {
  width: 100%;
  font-size: var(--font-size-xl);
  line-height: 20px;
  font-family: var(--font-athiti);
  max-width: 800px;
}
.heading-parent6 {
  width: 100%;
  gap: var(--gap-16xl);
  min-width: 300px;
  max-width: 900px;
}
.faq-hero-inner2,
.frame-wrapper6,
.frame-wrapper7,
.heading-parent6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper7 {
  align-self: stretch;
}
.faq-hero-inner2,
.frame-wrapper6 {
  margin: 0 !important;
  position: absolute;
}
.frame-wrapper6 {
  width: 100%;
  top: calc(50% - 48px);
  right: 0;
  left: 0;
  z-index: 0;
}
.faq-hero-inner2 {
  width: calc(100% - 368px);
  top: calc(50% - 32.5px);
  right: 184px;
  left: 184px;
  height: 110px;
  z-index: 5;
  font-size: var(--font-size-21xl);
}
.primary-horizontal-logo-gold-f1 {
  text-decoration: none;
  width: 150px;
  position: relative;
  height: 30.5px;
  background-image: url(./public/primaryhorizontallogogreenaboutus1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.hamburger-menu6-icon3 {
  height: 16.4px;
  width: 25.4px;
  position: relative;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 45.4px;
  height: 36.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.faq-main-logo-nav1 {
  width: calc(100% - 177px);
  margin: 0 !important;
  position: absolute;
  top: 46px;
  right: 83px;
  left: 94px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.faq-hero1,
.faq-main-nav1 {
  display: flex;
  align-items: center;
}
.faq-hero1 {
  align-self: stretch;
  height: 540px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  gap: var(--gap-3xs);
  background-image: url(./public/faqhero1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
  font-size: var(--font-size-16xl);
  font-family: var(--font-arsenal);
}
.faq-main-nav1 {
  width: 45px;
  margin: 0 !important;
  position: absolute;
  top: 38px;
  left: 43px;
  height: 44px;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  z-index: 1;
}
.primary-horizontal-logo-franch {
  text-decoration: none;
  width: 171.9px;
  position: relative;
  height: 35px;
  background-image: url(./public/primaryhorizontallogopartner@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.franchise-faq-main-logo {
  width: 172px;
  margin: 0 !important;
  position: absolute;
  top: 42px;
  left: calc(50% - 86.5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.big-number6 {
  width: 1155px;
  position: relative;
  line-height: 80px;
  display: inline-block;
  height: 75px;
  flex-shrink: 0;
  -webkit-text-stroke: 1px #000;
}
.big-number-wrapper4 {
  width: 1120px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.franchising-faq {
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 30px;
  text-transform: capitalize;
  font-family: var(--font-arsenal);
  display: inline-block;
  min-width: 400px;
}
.frame-parent3,
.franchise-faq-h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.frame-parent3 {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-3xs);
  max-width: 1121px;
}
.franchise-faq-h1 {
  align-self: stretch;
  height: 100px;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: 0 var(--padding-165xl);
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-31xl);
  font-family: var(--font-chiffon);
}
.node {
  white-space: pre-wrap;
}
.what-are-the2 {
  text-transform: uppercase;
}
.what-are-the-minimum-requireme1 {
  font-weight: 600;
}
.what-are-the-minimum-requireme {
  margin: 0;
}
.do-i-have,
.how-long-will {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.do-i-have {
  white-space: pre-wrap;
}
.what-are-the-container {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.faq-text2,
.franchise-faq-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-text2 {
  width: 100%;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  min-width: 300px;
  max-width: 1121px;
}
.franchise-faq-h2 {
  align-self: stretch;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  justify-content: flex-start;
  padding: 0 var(--padding-165xl);
  z-index: 4;
  text-align: left;
}
.heading10 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 300px;
}
.you-are-invited3 {
  color: var(--color-gray-100);
}
.span79 {
  color: var(--color-lightslategray);
}
.infogoldsaintecom14 {
  text-decoration: underline;
}
.infogoldsaintecom13 {
  color: inherit;
}
.paragraph42 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 14px;
  display: inline-block;
  min-width: 300px;
}
.heading-parent7 {
  width: 1121px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.divider-icon3 {
  width: 1920px;
  position: relative;
  height: 1px;
}
.divider-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.social-media-icon-squareinsta3,
.social-media-icon-squarelinke3 {
  width: 36px;
  position: relative;
  height: 36px;
  cursor: pointer;
}
.social-media-icon-squareinsta3 {
  object-fit: cover;
}
.social-media-container31 {
  position: absolute;
  top: 0;
  left: calc(50% - 44px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.social-media-container3-container {
  position: absolute;
  top: 0;
  left: calc(50% - 44px);
  width: 88px;
  height: 36px;
}
.contact-info71 {
  width: 88px;
  position: relative;
  height: 36px;
}
.goldsainte-gold-logo-faq-icon2 {
  width: 46px;
  position: relative;
  height: 46px;
  object-fit: cover;
}
.email3 {
  width: 533.9px;
  position: relative;
  line-height: 14px;
  display: inline-block;
}
.contact-info7-group {
  padding: var(--padding-2xs) 0;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.contact-info7-group,
.frame-parent4,
.franchise-faq-social {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent4 {
  height: 188px;
  gap: var(--gap-3xs);
}
.franchise-faq-social {
  height: 189px;
}
.paragraph43 {
  text-decoration: none;
  width: 70px;
  position: relative;
  line-height: 20px;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 70px;
}
.franchise-faq-footer,
.franchise-faq-important-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.franchise-faq-important-links {
  width: 100%;
  flex-direction: row;
  gap: var(--gap-mini);
  min-width: 300px;
  max-width: 1121px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.franchise-faq-footer {
  align-self: stretch;
  height: 236px;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 var(--padding-165xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  z-index: 5;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
}
.paragraph47 {
  width: 100px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  flex-shrink: 0;
  min-width: 100px;
  cursor: pointer;
}
.faq-info-links2 {
  width: 996px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
  min-width: 300px;
  max-width: 1121px;
}
.franchise-faq-info-links,
.franchise-faq1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.franchise-faq-info-links {
  align-self: stretch;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  justify-content: center;
  padding: 0 var(--padding-165xl) var(--padding-15xl);
  z-index: 6;
}
.franchise-faq1 {
  width: 100%;
  position: relative;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-athiti);
}
@media screen and (max-width: 1200px) {
  .heading8,
  .heading9 {
    font-size: var(--font-size-16xl);
  }
  .heading9 {
    line-height: 35px;
  }
  .hamburger-menu6-icon3 {
    display: flex;
  }
  .franchising-faq {
    font-size: var(--font-size-11xl);
    line-height: 30px;
  }
}
@media screen and (max-width: 960px) {
  .heading8 {
    font-size: var(--font-size-6xl);
    line-height: 25px;
  }
  .paragraph40 {
    font-size: var(--font-size-sm);
    line-height: 16px;
  }
  .heading9 {
    font-size: var(--font-size-6xl);
    line-height: 25px;
  }
  .paragraph41 {
    font-size: var(--font-size-mini);
    line-height: 15px;
  }
  .franchising-faq {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .franchise-faq-h1,
  .franchise-faq-h2 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .paragraph43 {
    font-size: var(--font-size-sm);
    line-height: 20px;
  }
  .franchise-faq-important-links {
    gap: var(--gap-mini);
  }
  .franchise-faq-footer {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .paragraph47 {
    font-size: var(--font-size-sm);
    line-height: 20px;
  }
  .franchise-faq-info-links {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .heading8 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .paragraph40 {
    font-size: var(--font-size-sm);
    line-height: 16px;
  }
  .frame-wrapper5 {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .heading9 {
    font-size: var(--font-size-6xl);
    line-height: 25px;
  }
  .paragraph41 {
    font-size: var(--font-size-mini);
    line-height: 15px;
  }
  .frame-wrapper7 {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .franchising-faq {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .franchise-faq-h2,
  .franchise-faq-info-links {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
.logomark-seal-green-1 {
  text-decoration: none;
  width: 79px;
  position: relative;
  height: 79px;
  background-image: url(./public/logomarksealgreen-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.line-about {
  width: 469px;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 1px;
}
.franchise {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
}
.nav,
.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.nav {
  position: relative;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  gap: var(--gap-20xl);
  opacity: 0;
  height: 100%;
  max-width: 90%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-athiti);
}
.nav.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
@media screen and (max-width: 960px) {
  .sections {
    display: flex;
  }
}
